<!--begin::Row-1-->
<div class="row g-lg-7">
  <!--begin::Col-->
  <div class="col-sm-4">
    <!--begin::Card-->
    <a href="/lunch/{{branch}}/{{daily_report_id}}" class="card border-0 shadow-none min-h-200px mb-7 clickable"
      style="background-color: #F9666E">
      <!--begin::Card body-->
      <div class="card-body d-flex flex-column flex-center text-center">
        <!--begin::Illustrations-->
        <img class="mw-100 h-100px mb-7 mx-auto" src="/static/media/stickers/lunch.png" />
        <!--end::Illustrations-->
        <!--begin::Heading-->
        <h4 class="text-white fw-bold text-uppercase">Lunch</h4>
        <!--end::Heading-->
      </div>
      <!--end::Card body-->
    </a>
    <!--end::Card-->
  </div>
  <!--end::Col-->
  <!--begin::Col-->
  <div class="col-sm-4">
    <!--begin::Card-->
    <a href="/dinner/{{branch}}/{{daily_report_id}}"
      class="card border-0 shadow-none min-h-200px mb-7 clickable" style="background-color: #068f5f">
      <!--begin::Card body-->
      <div class="card-body d-flex flex-column flex-center text-center">
        <!--begin::Illustrations-->
        <img class="mw-100 h-100px mb-7 mx-auto" src="/static/media/stickers/chicken.png" />
        <!--end::Illustrations-->
        <!--begin::Heading-->
        <h4 class="text-white fw-bold text-uppercase">Dinner</h4>
        <!--end::Heading-->
      </div>
      <!--end::Card body-->
    </a>
    <!--end::Card-->
  </div>
  <!--end::Col-->

  <!--begin::Col-->
  <div class="col-sm-4">
    <!--begin::Card-->
    <a href="/home/{{branch}}/{{daily_report_id}}"
      class="card border-0 shadow-none min-h-200px mb-7 clickable" style="background-color: #6688f9">
      <!--begin::Card body-->
      <div class="card-body d-flex flex-column flex-center text-center">
        <!--begin::Illustrations-->
        <img class="mw-100 h-100px mb-7 mx-auto" src="/static/media/stickers/delivery-bike.png" />
        <!--end::Illustrations-->
        <!--begin::Heading-->
        <h4 class="text-white fw-bold text-uppercase">Delivery</h4>
        <!--end::Heading-->
      </div>
      <!--end::Card body-->
    </a>
    <!--end::Card-->
  </div>
  <!--end::Col-->

</div>
<!--end::Row-1-->
<!--begin::Row-2-->
<div class="row g-lg-7">
  <!--begin::Col-->
  <div class="col-sm-4">
    <!--begin::Card-->
    <a href="/disburse/{{branch}}/{{daily_report_id}}"
      class="card border-0 shadow-none min-h-200px mb-7 clickable" style="background-color: #d235bb">
      <!--begin::Card body-->
      <div class="card-body d-flex flex-column flex-center text-center">
        <!--begin::Illustrations-->
        <img class="mw-100 h-100px mb-7 mx-auto" src="/static/media/stickers/payment.png" />
        <!--end::Illustrations-->
        <!--begin::Heading-->
        <h4 class="text-white fw-bold text-uppercase">Expense</h4>
        <!--end::Heading-->
      </div>
      <!--end::Card body-->
    </a>
    <!--end::Card-->
  </div>
  <!--end::Col-->
  <!--begin::Col-->
  <div class="col-sm-4">
    <!--begin::Card-->
    <a href="/dinner-report/{{branch}}/{{daily_report_id}}" class="card border-0 shadow-none min-h-200px mb-7 clickable"
      style="background-color: #c5b717">
      <!--begin::Card body-->
      <div class="card-body d-flex flex-column flex-center text-center">
        <!--begin::Illustrations-->
        <img class="mw-100 h-100px mb-7 mx-auto" src="/static/media/stickers/audit.png" />
        <!--end::Illustrations-->
        <!--begin::Heading-->
        <h4 class="text-white fw-bold text-uppercase">Report</h4>
        <!--end::Heading-->
      </div>
      <!--end::Card body-->
    </a>
    <!--end::Card-->
  </div>
  <!--end::Col-->
  <!--begin::Col-->
  <div class="col-sm-4">
    <!--begin::Card-->
    <a href="/" class="card border-0 shadow-none min-h-200px mb-7 clickable" style="background-color: #b0b0b0">
      <!--begin::Card body-->
      <div class="card-body d-flex flex-column flex-center text-center">
        <!--begin::Illustrations-->
        <img class="mw-100 h-100px mb-7 mx-auto" src="/static/media/stickers/back-arrow.png" />
        <!--end::Illustrations-->
        <!--begin::Heading-->
        <h4 class="text-white fw-bold text-uppercase">Back</h4>
        <!--end::Heading-->
      </div>
      <!--end::Card body-->
    </a>
    <!--end::Card-->
  </div>
  <!--end::Col-->

</div>
<!--end::Row-2-->