<!--begin::Modal - Create delivery-->
<div class="modal fade" id="kt_modal_delivery" tabindex="-1" aria-hidden="true">
  <!--begin::Modal dialog-->
  <div class="modal-dialog modal-fullscreen p-9">
    <!--begin::Modal content-->
    <div class="modal-content">
      <!--begin::Modal header-->
      <div class="modal-header header-bg">
        <!--begin::Modal title-->
        <h2 class="text-white">Close Till (Delivery)
          <small class="ms-2 fs-7 fw-normal text-white opacity-50">Create, Edit, Manage Till at dinner time</small>
        </h2>
        <!--end::Modal title-->
        <!--begin::Close-->
        <div class="btn btn-sm btn-icon btn-color-white btn-active-color-primary" data-bs-dismiss="modal">
          <i class="ki-duotone ki-cross fs-1">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
        </div>
        <!--end::Close-->
      </div>
      <!--end::Modal header-->
      <!--begin::Modal body-->
      <div class="modal-body scroll-y m-5">
        <!--begin::Stepper-->
        <div class="stepper stepper-links d-flex flex-column" id="kt_create_delivery_stepper">
          <!--begin::Nav-->
          <div class="stepper-nav py-5">
            <!--begin::Step 1-->
            <div class="stepper-item current" data-kt-stepper-element="nav">
              <h3 class="stepper-title">List</h3>
            </div>
            <!--end::Step 1-->
            <!--begin::Step 1-->
            <div class="stepper-item" data-kt-stepper-element="nav">
              <h3 class="stepper-title">General</h3>
            </div>
            <!--end::Step 1-->
            <!--begin::Step 2-->
            <div class="stepper-item" data-kt-stepper-element="nav">
              <h3 class="stepper-title">Credit</h3>
            </div>
            <!--end::Step 2-->
            <!--begin::Step 3-->
            <div class="stepper-item" data-kt-stepper-element="nav">
              <h3 class="stepper-title">Bill</h3>
            </div>
            <!--end::Step 3-->
          </div>
          <!--end::Nav-->
          <!--begin::Form-->
          <form class="mx-auto mw-600px w-100 py-10" novalidate="novalidate" id="kt_create_delivery_form" method="post">
            <!--begin::Step 0-->
            <div class="current" data-kt-stepper-element="content">
              <!--begin::Wrapper-->
              <div class="w-100">
                <!--begin::Heading-->
                <div class="pb-5">
                  <!--begin::Title-->
                  <h1 class="fw-bold text-dark">รายการคนส่งโฮม</h1>
                  <!--end::Title-->
                  <!--begin::Body-->
                  <div class="card-body pt-0 mt-10">
                    {% for delivery_detail in related_delivery_details %}
                    <!--begin::Item-->
                    <div class="d-flex align-items-center bg-light-{{delivery_detail.css_classes}} rounded p-5 mb-7">
                      <i class="ki-duotone ki-abstract-26 text-{{delivery_detail.css_classes}} fs-1 me-5">
                        <span class="path1"></span>
                        <span class="path2"></span>
                      </i>
                      <!--begin::Title-->
                      <div class="flex-grow-1 me-2">
                        <a href="#"
                          class="fw-bold text-gray-800 text-hover-primary fs-6">{{delivery_detail.delivery_name}}</a>
                        <span class="text-muted fw-semibold d-block">{{delivery_detail.home_count}}</span>
                      </div>
                      <!--end::Title-->
                      <!--begin::Lable-->
                      <a href="/home-report/{{branch}}/{{daily_report_id}}/{{delivery_detail.id}}"
                        class="btn btn-hover-rise text-uppercase fs-7 fw-bold btn-info mx-3">Report</a>
                      <a href="/home-edit/{{branch}}/{{daily_report_id}}/{{delivery_detail.id}}"
                        class="btn btn-hover-rise text-uppercase fs-7 fw-bold btn-warning mx-3">Edit</a>
                      <a class="btn btn-hover-rise text-uppercase fs-7 fw-bold btn-danger mx-3"
                        href="{% url 'delete-delivery-detail' branch daily_report_id delivery_detail.id  %}"
                        onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                      <!--end::Lable-->
                    </div>
                    <!--end::Item-->
                    {% endfor %}
                  </div>
                  <!--end::Body-->


                  <!--begin::Tables Widget 3-->
                  <div class="card card-xl-stretch mb-xl-8">
                    <!--begin::Body-->
                    <div class="card-body py-3">
                      <!--begin::Table container-->
                      <div class="table-responsive">
                        <!--begin::Header-->
                        <div class="border-0 pt-5">
                          <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bold fs-3 mb-1">ยอด Home ออนไลน์จากการรวมข้อมูล</span>
                          </h3>
                        </div>
                        <!--end::Header-->
                        <!--begin::Table-->
                        <table class="table align-middle gs-0 gy-3">
                          <!--begin::Table head-->
                          <thead>
                            <tr>
                              <th class="p-0 w-40px"></th>
                              <th class="p-0 w-200px"></th>
                              <th class="p-0 w-40px"></th>
                            </tr>
                          </thead>
                          <!--end::Table head-->
                          <!--begin::Table body-->
                          <tbody>
                            <tr>
                              <td>
                                <div class="symbol symbol-50px me-2">
                                  <span class="symbol-label bg-light-success">
                                    <i class="ki-duotone ki-arrow-mix fs-2x text-success">
                                      <span class="path1"></span>
                                      <span class="path2"></span>
                                      <span class="path3"></span>
                                      <span class="path4"></span>
                                    </i>
                                  </span>
                                </div>
                              </td>
                              <td>
                                <a href="#" class="text-dark fw-bold text-hover-primary mb-1 fs-6">Cash
                                  ({{sumOnlineCashCount}}) {{sumOnlineCash}}</a>
                              </td>
                              <td>
                                <div class="symbol symbol-50px me-2">
                                  <span class="symbol-label bg-light-danger">
                                    <i class="ki-duotone ki-bitcoin fs-2x text-danger">
                                      <span class="path1"></span>
                                      <span class="path2"></span>
                                      <span class="path3"></span>
                                      <span class="path4"></span>
                                    </i>
                                  </span>
                                </div>
                              </td>
                              <td>
                                <a href="#" class="text-dark fw-bold text-hover-primary mb-1 fs-6">Card
                                  ({{sumOnlineCardCount}}) {{sumOnlineCard}}</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--begin::Header-->
                        <div class="border-0">
                          <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bold fs-3 mb-1">ยอด Home ออนไลน์จากระบบออนไลน์</span>
                          </h3>
                        </div>
                        <!--end::Header-->
                        <table class="table align-middle gs-0 gy-3">
                          <!--begin::Table head-->
                          <thead>
                            <tr>
                              <th class="p-0 w-40px"></th>
                              <th class="p-0 w-200px"></th>
                              <th class="p-0 w-40px"></th>
                            </tr>
                          </thead>
                          <!--end::Table head-->
                          <tr>
                            <td>
                              <div class="symbol symbol-50px me-2">
                                <span class="symbol-label bg-light-info">
                                  <i class="ki-duotone ki-dollar fs-2x text-info">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                  </i>
                                </span>
                              </div>
                            </td>
                            <td class="text-dark fw-bold fs-6 pe-0">Cash ({{bill_dinner.delivery_cash_count_in_online_system}}) {{bill_dinner.delivery_cash_amount_in_online_system}}</td>
                            <td>
                              <div class="symbol symbol-50px me-2">
                                <span class="symbol-label bg-light-warning">
                                  <i class="ki-duotone ki-delivery fs-2x text-warning">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <i class="path3"></i>
                                    <i class="path4"></i>
                                    <i class="path5"></i>
                                  </i>
                                </span>
                              </div>
                            </td>
                            <td>
                              <a href="#" class="text-dark fw-bold text-hover-primary mb-1 fs-6">Card ({{bill_dinner.delivery_card_count_in_online_system}}) {{bill_dinner.delivery_card_amount_in_online_system}}</a>
                            </td>
                          </tr>
                        </table>

                        <!--end::Table-->
                      </div>
                      <!--end::Table container-->
                    </div>
                    <!--begin::Body-->
                  </div>
                  <!--end::Tables Widget 3-->

                </div>
                <!--end::Heading-->
              </div>
              <!--end::Wrapper-->
            </div>
            <!--end::Step 0-->
            <!--begin::Step 1-->
            <div data-kt-stepper-element="content">
              <!--begin::Wrapper-->
              <div class="w-100">
                <!--begin::Heading-->
                <div class="pb-5">
                  <!--begin::Title-->
                  <h1 class="fw-bold text-dark">ข้อมูลทั่วไป</h1>
                  <!--end::Title-->
                  <!--begin::Notice-->
                  <div class="text-muted fw-semibold fs-6">
                    <a href="#" class="link-primary fw-bold">ใส่ข้อมูล ของคนส่ง Home</a>
                  </div>
                  <!--end::Notice-->
                </div>
                <!--end::Heading-->

                <!--begin::Label-->
                <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                  <span class="required">ชื่อคนส่ง</span>
                  <span class="path1"></span>
                  <span class="path2"></span>
                  <span class="path3"></span>
                  </i>
                  </span>
                </label>
                <!--end::Label-->
                <!--begin::Input-->
                <input class="form-control form-control-solid" placeholder="ชื่อคนส่ง" inputmode="numeric" type="text"
                  value="{{ delivery_detail.delivery_name }}" name="delivery_name" />
                <!--end::Input-->
                <!--begin::Label-->
                <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2 mt-5">
                  <span class="required">ค่าคอมมิชชั่น/ใบ</span>
                  <span class="path1"></span>
                  <span class="path2"></span>
                  <span class="path3"></span>
                  </i>
                  </span>
                </label>
                <!--end::Label-->
                <!--begin::Input-->
                <input class="form-control form-control-solid" onfocus="clearInputValue(this)"
                  onblur="restoreInputValueDecimal(this)" placeholder="0.00" inputmode="numeric" type="text"
                  value="{{ delivery_detail.wage_per_home }}" name="wage_per_home" />
                <!--end::Input-->


              </div>
              <!--end::Wrapper-->
            </div>
            <!--end::Step 1-->
            <!--begin::Step 2-->
            <div data-kt-stepper-element="content">
              <!--begin::Wrapper-->
              <div class="w-100">
                <!--begin::Heading-->
                <div class="pb-5">
                  <!--begin::Title-->
                  <h1 class="fw-bold text-dark">ข้อมูล Credit</h1>
                  <!--end::Title-->
                  <!--begin::Description-->
                  <div class="text-muted fw-semibold fs-4">
                    <a href="#" class="link-primary">ใส่ข้อมูล Credit
                      ของแต่ละเครื่องเพื่อนำไปคำนวณและตรวจสอบความถูกต้อง</a>
                  </div>
                  <!--end::Description-->
                </div>
                <!--end::Heading-->


                <!--begin::Input group-->
                <div class="row mb-15" data-kt-buttons="true">
                  <div class="col-6">
                    <!--begin::Label-->
                    <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                      <span>EDC Home</span>
                    </label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input class="form-control form-control-solid" onfocus="clearInputValue(this)"
                      onblur="restoreInputValueDecimal(this)" placeholder="0.00" inputmode="numeric" type="text"
                      value="{{ delivery_detail.edc_home_credit }}" name="edc_home_credit" />
                    <!--end::Input-->
                  </div>
                  <div class="col-6">
                    <!--begin::Label-->
                    <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                      <span>EDC MOTO</span>
                    </label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input class="form-control form-control-solid" onfocus="clearInputValue(this)"
                      onblur="restoreInputValueDecimal(this)" placeholder="0.00" inputmode="numeric" type="text"
                      value="{{ delivery_detail.moto_credit }}" name="moto_credit" />
                    <!--end::Input-->
                  </div>
                </div>
                <!--end::Input group-->

              </div>
              <!--end::Wrapper-->
            </div>
            <!--end::Step 2-->
            <!--begin::Step 3-->
            <div data-kt-stepper-element="content">
              <!--begin::Wrapper-->
              <div class="w-100">
                <!--begin::Heading-->
                <div class="pb-10 pb-lg-12">
                  <!--begin::Title-->
                  <h1 class="fw-bold text-dark">รายละเอียดการส่ง Home</h1>
                  <!--end::Title-->
                  <!--begin::Notice-->
                  <div class="text-muted fw-semibold fs-4">
                    <a href="#" class="link-primary">ลงข้อมูลจำนวน และยอดเงินของ Home</a>
                  </div>
                  <!--end::Notice-->
                </div>
                <!--end::Heading-->


                <!--begin::Heading-->
                <div class="pb-5">
                  <h2 class="fw-bold text-dark">Home หน้าร้าน/โทรศัพท์
                  </h2>
                </div>
                <!--end::Heading-->
                <!--begin::Content-->
                <div class="pb-lg-3">
                  <!--begin::Title-->
                  <h3 class="fw-bold text-dark pb-lg-2">Cash</h3>
                  <!--end::Title-->
                  <!--begin::Input group-->
                  <div class="row mb-7" data-kt-buttons="true">
                    <div class="col-6">
                      <!--begin::Label-->
                      <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                        <span>จำนวน</span>
                      </label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)" placeholder="0"
                        inputmode="numeric" type="number" value="{{ delivery_detail.bill_home_phone_cash_count }}"
                        name="bill_home_phone_cash_count" class="form-control">
                      <!--end::Input-->
                    </div>
                    <div class="col-6">
                      <!--begin::Label-->
                      <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                        <span>ยอดเงิน</span>
                      </label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)" placeholder="0.00"
                        inputmode="numeric" type="text" value="{{ delivery_detail.bill_home_phone_cash }}"
                        name="bill_home_phone_cash" class="form-control">
                      <!--end::Input-->
                    </div>
                  </div>
                  <!--begin::Title-->
                  <h3 class="fw-bold text-dark pb-lg-2">Card</h3>
                  <!--end::Title-->
                  <!--begin::Input group-->
                  <div class="row mb-15" data-kt-buttons="true">
                    <div class="col-6">
                      <!--begin::Label-->
                      <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                        <span>จำนวน</span>
                      </label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)" placeholder="0"
                        inputmode="numeric" type="number" value="{{ delivery_detail.bill_home_phone_card_count }}"
                        name="bill_home_phone_card_count" class="form-control">
                      <!--end::Input-->
                    </div>
                    <div class="col-6">
                      <!--begin::Label-->
                      <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                        <span>ยอดเงิน</span>
                      </label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)" placeholder="0.00"
                        inputmode="numeric" type="text" value="{{ delivery_detail.bill_home_phone_card }}"
                        name="bill_home_phone_card" class="form-control">
                      <!--end::Input-->
                    </div>
                  </div>

                </div>
                <!--end::Content-->


                <!--begin::Heading-->
                <div class="pb-5">
                  <h2 class="fw-bold text-dark">Home Online
                  </h2>
                </div>
                <!--end::Heading-->
                <!--begin::Content-->
                <div class="pb-lg-3">
                  <!--begin::Title-->
                  <h3 class="fw-bold text-dark pb-lg-2">Cash</h3>
                  <!--end::Title-->
                  <!--begin::Input group-->
                  <div class="row mb-7" data-kt-buttons="true">
                    <div class="col-6">
                      <!--begin::Label-->
                      <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                        <span>จำนวน</span>
                      </label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)" placeholder="0"
                        inputmode="numeric" type="number" value="{{ delivery_detail.bill_home_online_cash_count }}"
                        name="bill_home_online_cash_count" class="form-control">
                      <!--end::Input-->
                    </div>
                    <div class="col-6">
                      <!--begin::Label-->
                      <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                        <span>ยอดเงิน</span>
                      </label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)" placeholder="0.00"
                        inputmode="numeric" type="text" value="{{ delivery_detail.bill_home_online_cash }}"
                        name="bill_home_online_cash" class="form-control">
                      <!--end::Input-->
                    </div>
                  </div>
                  <!--begin::Title-->
                  <h3 class="fw-bold text-dark pb-lg-2">Card</h3>
                  <!--end::Title-->
                  <!--begin::Input group-->
                  <div class="row mb-15" data-kt-buttons="true">
                    <div class="col-6">
                      <!--begin::Label-->
                      <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                        <span>จำนวน</span>
                      </label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)" placeholder="0"
                        inputmode="numeric" type="number" value="{{ delivery_detail.bill_home_online_card_count }}"
                        name="bill_home_online_card_count" class="form-control">
                      <!--end::Input-->
                    </div>
                    <div class="col-6">
                      <!--begin::Label-->
                      <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                        <span>ยอดเงิน</span>
                      </label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)" placeholder="0.00"
                        inputmode="numeric" type="text" value="{{ delivery_detail.bill_home_online_card }}"
                        name="bill_home_online_card" class="form-control">
                      <!--end::Input-->
                    </div>
                  </div>
                </div>
                <!--end::Content-->


                <!--begin::Heading-->
                <div class="pb-5">
                  <h2 class="fw-bold text-dark">Over Area (OA)
                  </h2>
                </div>
                <!--end::Heading-->
                <!--begin::Content-->
                <div class="pb-lg-3">
                  <!--begin::Input group-->
                  <div class="row mb-7" data-kt-buttons="true">
                    <div class="col-6">
                      <!--begin::Label-->
                      <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                        <span>จำนวน</span>
                      </label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)" placeholder="0"
                        inputmode="numeric" type="number" value="{{ delivery_detail.bill_home_oa_count }}"
                        name="bill_home_oa_count" class="form-control">
                      <!--end::Input-->
                    </div>
                    <div class="col-6">
                      <!--begin::Label-->
                      <label class="d-flex align-items-center fs-6 fw-semibold form-label mb-2">
                        <span>ยอดเงิน</span>
                      </label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)" placeholder="0.00"
                        inputmode="numeric" type="text" value="{{ delivery_detail.bill_home_oa_amount }}"
                        name="bill_home_oa_amount" class="form-control">
                      <!--end::Input-->
                    </div>
                  </div>
                </div>
                <!--end::Content-->

                <div class="d-flex justify-content-end mt-5">
                  <button type="submit" class="btn btn-lg btn-primary me-3">
                    <span class="indicator-label">ส่งข้อมูล
                      <i class="ki-duotone ki-arrow-right fs-2 ms-2 me-0">
                        <span class="path1"></span>
                        <span class="path2"></span>
                      </i></span>
                  </button>
                </div>

              </div>
              <!--end::Wrapper-->
            </div>
            <!--end::Step 3-->
            <!--begin::Actions-->
            <div class="d-flex flex-stack">
              <!--begin::Wrapper-->
              <div class="mr-2">
                <button type="button" class="btn btn-lg btn-light-primary me-3" data-kt-stepper-action="previous">
                  <i class="ki-duotone ki-arrow-left fs-4 me-1">
                    <span class="path1"></span>
                    <span class="path2"></span>
                  </i>ย้อนกลับ</button>
              </div>
              <!--end::Wrapper-->
              <!--begin::Wrapper-->
              <input type="hidden" name="mode" value="delivery">
              <div class="mt-5">
                <button type="button" class="btn btn-lg btn-primary" data-kt-stepper-action="next">ถัดไป
                  <i class="ki-duotone ki-arrow-right fs-4 ms-1 me-0">
                    <span class="path1"></span>
                    <span class="path2"></span>
                  </i></button>
              </div>
              <!--end::Wrapper-->
            </div>
            <!--end::Actions-->
          </form>
          <!--end::Form-->
        </div>
        <!--end::Stepper-->
      </div>
      <!--end::Modal body-->
    </div>
    <!--end::Modal content-->
  </div>
  <!--end::Modal dialog-->
</div>
<!--end::Modal - Create project-->