@font-face {
 font-family: Kanit;
 src: url(/static/fonts/Kanit-Light.ttf);
}
@font-face {
 font-family: Nunito;
 src: url(/static/fonts/Nunito-Medium.ttf);
}
body{
 font-family: 'Nunito', 'Kanit'!important;
}