{%extends 'keywordapp/layout.html'%}
{%block activework%}active{%endblock activework%}
{%block content%}

<!--begin::Body-->

<!-- Add the SweetAlert script -->
{% if status == 'submit_success'%}
<script>
  Swal.fire({
    title: "เพิ่มข้อมูลแล้ว",
    icon: "success",
  });
</script>
{% endif %}
{% if status == 'edit_success'%}
<script>
  Swal.fire({
    title: "แก้ไขข้อมูลแล้ว",
    icon: "success",
  });
</script>
{% endif %}
{% if status == 'delete_success'%}
<script>
  Swal.fire({
    title: "ลบข้อมูลแล้ว",
    icon: "success",
  });
</script>
{% endif %}

<body>
  <div class="page-bg">

  <!--begin::Main-->
  <!--begin::Root-->
  <div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page launcher sidebar-enabled d-flex flex-row flex-column-fluid me-lg-5" id="kt_page">
      <!--begin::Content-->
      <div class="d-flex flex-row-fluid">
        <!--begin::Container-->
        <div class="d-flex flex-column flex-row-fluid align-items-center">
          <!--begin::Menu-->
          <div class="d-flex flex-column flex-column-fluid mb-5 mb-lg-10">
            <!--begin::Brand-->
            <div class="pt-10 pt-lg-0 mb-10 mb-lg-0 h-lg-225px">
              <div class="row">
                <div class="col-12 d-flex flex-center">
                  <!--begin::Logo-->
                  <img alt="Logo" src="/static/media/button/{{branch_image_name}}" class="h-200px" />
                  <!--end::Logo-->
                </div>
              </div>
              <div class="row pt-7">
                <div class="col-12 d-flex flex-center">
                  <h1 class="">วันที่ : {{readable_date}}</h1>
                </div>
              </div>
            </div>
            <!--end::Brand-->
            <!--begin::Row-->
            <div class="row g-7 w-xxl-850px">
              <!--begin::Col-->
              <div class="col-xxl-12 pt-lg-15">

                {% include 'choose-mode-component/menu.html' %}

              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
          </div>
          <!--end::Menu-->
        </div>
        <!--begin::Content-->
      </div>
      <!--begin::Content-->
    </div>
    <!--end::Page-->
  </div>
  <!--end::Root-->
  <!--end::Main-->
  </div>

  {%endblock content%}