{% extends 'keywordapp/layout.html' %}
{% block activework %}active{% endblock activework %}
{% block content %}
<div class="page-content-wrapper">
  <!-- Weekly Best Sellers-->
  <div class="weekly-best-seller-area py-3">
    <div class="container">
      <div class="section-heading">
        <h2>กรอกข้อมูลปิดยอด Dinner ({{ date }})</h2>
      </div>
      <div class="row g-3">
        <div class="col-12">
          <div class="card weekly-product-card">
            <div class="card-body align-items-center">
              <div class="product-description" style="width: 100%; max-width: 100%;">
                <form action="" method="post">
                  {% csrf_token %}
                  <div class="row">
                    <h1 class="mb-3">เช็คยอดบัตรเครดิตเบื้องต้น</h1>
                    <div class="col-12">
                      <h5>เช็คจากเครื่อง</h5>
                      <div class="row">
                        <div class="col-12 col-md-2">EDC หน้าร้าน
                          <input type="text" value="{{ bill_dinner.edc_in_credit }}" name="edc_in_credit" class="form-control">
                        </div>
                        <div class="col-12 col-md-2">POS TA
                          <input type="text" value="{{ bill_dinner.pos_ta_bill_phone_card }}" name="pos_ta_bill_phone_card"
                            class="form-control">
                        </div>
                        <div class="col-12 col-md-2">POS Dine-in
                          <input type="text" value="{{ bill_dinner.pos_in_bill_card }}" name="pos_in_bill_card"
                            class="form-control">
                        </div>
                      </div>
                      <h5 class="mt-3">เช็คจากบิล</h5>
                      <div class="row">
                        <div class="col-12 col-md-2">TA Online
                          <input type="text" value="{{ bill_dinner.real_bill_online_card }}" name="real_bill_online_card"
                            class="form-control">
                        </div>
                        <div class="col-12 col-md-2">Tip บัตร
                          <input type="text" value="{{ bill_dinner.tip_credit }}" name="tip_credit"
                            class="form-control">
                        </div>
                        <div class="col-12 col-md-2">กดเครดิตขาด
                          <input type="text" value="{{ bill_dinner.wrong_credit }}" name="wrong_credit"
                            class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="justify-content-center d-flex mt-5 mb-3">
                      <a href="/" class="btn btn-secondary btn-lg">ย้อนกลับ</a>
                      <button class="btn btn-primary btn-lg" type="submit">ถัดไป</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}