{%extends 'keywordapp/layout.html'%}
{%block activework%}active{%endblock activework%}
{%block content%}
<div class="page-content-wrapper">
  <!-- Weekly Best Sellers-->
  <div class="weekly-best-seller-area py-3">
    <div class="container">
      <div class="section-heading">
        <h2>รายงานผลการปิดยอด Dinner ({{ date }})</h2>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card weekly-product-card">
            <div class="card-body align-items-center">
              <div class="product-description" style="width:100%;max-width: 100%;">
                <div class="product-title d-block">ตารางรายงานผล</div>
                <div class="coupon-text-wrap d-flex align-items-center">
                  <table class="table table-bordered">
                    <tr>
                      <th>จำนวนใบ</th>
                      <th>ประเภท</th>
                      <th>TOTAL</th>
                      <th>CASH</th>
                      <th>CREDIT</th>
                      <th rowspan="4" class="align-middle text-center"><h3>{{totalBillLunch}}</h3></th>
                    </tr>
                    <tr>
                      <td>{{sumrealBillOnlineCount}}</td>
                      <td>T/A Online Lunch</td>
                      <td>{{sumrealBillOnline}}</td>
                      <td>{{realBillOnlineCash}}</td>
                      <td>{{realBillOnlineCard}}</td>
                    </tr>
                    <tr>
                      <td>{{sumrealBillPhoneCount}}</td>
                      <td>T/A Lunch</td>
                      <td>{{sumrealBillPhone}}</td>
                      <td>{{realBillPhoneCash}}</td>
                      <td>{{realBillPhoneCard}}</td>
                    </tr>
                    <tr>
                      <td>{{sumrealBillInCount}}</td>
                      <td>EAT-IN Lunch</td>
                      <td>{{sumrealBillIn}}</td>
                      <td>{{realBillInCash}}</td>
                      <td>{{realBillInCard}}</td>
                    </tr>
                    <tr>
                      <td>{{sumrealBillHomePhoneCountDinner}}</td>
                      <td>Home Phone</td>
                      <td>{{sumrealBillHomePhoneDinner}}</td>
                      <td>{{realBillHomePhoneCashDinner}}</td>
                      <td>{{realBillHomePhoneCardDinner}}</td>
                      <td rowspan="6"></td>
                    </tr>
                    <tr>
                      <td>{{sumrealBillHomeOnlineCountDinner}}</td>
                      <td>Home Online</td>
                      <td>{{sumrealBillHomeOnlineDinner}}</td>
                      <td>{{realBillHomeOnlineCashDinner}}</td>
                      <td>{{realBillHomeOnlineCardDinner}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>{{sumrealBillPhoneCountDinner}}</td>
                      <td>T/A Phone Dinner</td>
                      <td>{{sumrealBillPhoneDinner}}</td>
                      <td>{{realBillPhoneCashDinner}}</td>
                      <td>{{realBillPhoneCardDinner}}</td>
                    </tr>
                    <tr>
                      <td>{{sumrealBillOnlineCountDinner}}</td>
                      <td>T/A Online Dinner</td>
                      <td>{{sumrealBillOnlineDinner}}</td>
                      <td>{{realBillOnlineCashDinner}}</td>
                      <td>{{realBillOnlineCardDinner}}</td>
                    </tr>
                    <tr>
                      <td>{{sumrealBillInCountDinner}}</td>
                      <td>Dinner</td>
                      <td>{{sumrealBillInDinner}}</td>
                      <td>{{realBillInCashDinner}}</td>
                      <td>{{realBillInCardDinner}}</td>
                    </tr>
                    <tr>
                      <td>{{totalCount}}</td>
                      <td>Total</td>
                      <td>{{sumTotal}}</td>
                      <td>{{sumCash}}</td>
                      <td>{{sumCard}}</td>
                    </tr>
                  </table>
                </div>
                <div class="product-title d-block">ปริ้นท์ Report</div>
                    <div class="card-body">
                      <div class="coupon-text-wrap d-flex align-items-center">
                        1. เครื่อง POS Dine-in เขียนหัวกระดาษว่า "Dine-in Dinner"<br>
                        2. เครื่อง POS TA เขียนหัวกระดาษว่า "TA Dinner"<br>
                        3. เครื่อง EDC หน้าร้าน เขียนหัวกระดาษว่า "Dinner"<br>
                        4. เครื่อง EDC Home เขียนหัวกระดาษว่า "Home"<br>
                      </div>
                    </div>
                <div class="justify-content-center d-flex">
                  <a href="/lunch-result/{{daily_report_id}}" class="btn btn-secondary btn-lg" type="submit">ย้อนกลับ</a>
                  <a href="/lunch-input-detail/{{daily_report_id}}" class="btn btn-warning btn-lg" type="submit">แก้ไข</a>
                  <a href="/" class="btn btn-primary btn-lg" type="submit">กลับหน้าแรก</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock content%}