{% extends 'keywordapp/layout.html' %}
{% block activework %}active{% endblock activework %}
{% block content %}
<div class="page-content-wrapper">
  <!-- Weekly Best Sellers-->
  <div class="weekly-best-seller-area py-3">
    <div class="container">
      <div class="section-heading">
        <h2>เพิ่ม/แก้ไขการเบิก ({{ date }})</h2>
      </div>
      <div class="row g-3">
        <div class="col-12">
          <div class="card weekly-product-card">
            <div class="card-body align-items-center">
              <div class="product-description" style="width: 100%; max-width: 100%;">
                <form action="" method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-12">
                      <div class="row">
                        <h5 class="mt-3">ข้อมูลทั่วไป</h5>
                        <div class="col-12 col-md-3">รายการที่ซื้อ
                          <input onfocus="clearInputValue(this)" type="text"
                            value="{{ disburse_detail.name }}" name="name" class="form-control">
                        </div>
                        <div class="col-12 col-md-2">ราคา
                          <input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)" placeholder="0.00"
                            inputmode="numeric" type="text" value="{{ disburse_detail.price }}" name="price"
                            class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="justify-content-center d-flex mt-5 mb-3">
                      <a href="/disburse-list/{{daily_report_id}}/" class="btn btn-secondary btn-lg">ย้อนกลับ</a>
                      <button class="btn btn-primary btn-lg" type="submit">ถัดไป</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}