{% extends 'keywordapp/layout.html' %}
{% block activework %}active{% endblock activework %}
{% block content %}
<div class="checkout app-pages app-section">
  <div class="container">
    <div class="pages-title">
      <h3>Home Detail Report ({{ date }})</h3>
    </div>
    <div class="order">
      <h5 class="title">Commission Calculatation</h5>
      <div class="row">
        <div class="col s8">
          <h6>Home Count Phone + Online ({{sumHomePhoneCount}} +
            {{sumHomeOnlineCount}})</h6>
        </div>
        <div class="col s4 text-right">
          <h6>{{sumHomeCount}}</h6>
        </div>
        <div class="col s8">
          <h6>Commission/Home</h6>
        </div>
        <div class="col s4 text-right">
          <h6>{{delivery_detail.wage_per_home}}</h6>
        </div>
        <div class="col s8">
          <h6>Commission (No OA)</h6>
        </div>
        <div class="col s4 text-right">
          <h6>{{sumHomeCommission}}</h6>
        </div>
        <div class="col s8">
          <h6>OA Amount ({{delivery_detail.bill_home_oa_count}})</h6>
        </div>
        <div class="col s4 text-right">
          <h6>{{delivery_detail.bill_home_oa_amount}}</h6>
        </div>
        <div class="col s8">
          <h5>Total</h5>
        </div>
        <div class="col s4 text-right">
          <h5>{{sumHomeCommissionAndOa}}</h5>
        </div>
      </div>
      <h5 class="title">Compare EDC and Home {{resultCheckEqual}}</h5>
      <div class="row">
        <div class="col s8">
          <h6>Home Online Card</h6>
        </div>
        <div class="col s4 text-right">
          <h6>{{delivery_detail.bill_home_online_card}}</h6>
        </div>
        <div class="col s8">
          <h6>Home Phone Card</h6>
        </div>
        <div class="col s4 text-right">
          <h6>{{delivery_detail.bill_home_phone_card}}</h6>
        </div>
        <div class="col s8">
          <h6>Total Card</h6>
        </div>
        <div class="col s4 text-right">
          <h6>{{sumHomeCardAmount}}</h6>
        </div>
        <div class="col s8">
          <h5>EDC Home + MOTO ({{delivery_detail.edc_home_credit}} +
            {{delivery_detail.moto_credit}})</h5>
        </div>
        <div class="col s4 text-right">
          <h6>{{AddMotoToEdcCard}}</h6>
        </div>
      </div>
    </div><a href="/home-input-quick/{{daily_report_id}}/{{delivery_detail.id}}/"
      class="button instagram link-button">Back</a>
    <a href="/" class="button facebook link-button" type="submit">Main Page</a>

  </div>
</div>

{% endblock content %}