{% extends 'keywordapp/layout.html' %}
{% block activework %}active{% endblock activework %}
{% block content %}
<div class="page-content-wrapper">
  <!-- Weekly Best Sellers-->
  <div class="weekly-best-seller-area py-3">
    <div class="container">
      <div class="section-heading">
        <h2>รายการคนส่ง Home ({{ date }})</h2>
      </div>
      <div class="row g-3">
        <div class="col-12">
          <div class="card weekly-product-card">
            <div class="card-body align-items-center">
              <div class="product-description" style="width: 100%; max-width: 100%;">
                <form action="" method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-12">
                      <div class="row">
                        <table class="table">
                          <tr>
                            <td>ชื่อคนส่ง</td>
                            <td>จำนวนใบที่ส่ง</td>
                            <td>ค่าคอม/ใบ</td>
                            <td>ค่าคอมยังไม่รวม OA</td>
                            <td>จำนวน OA</td>
                            <td>ยอด OA</td>
                            <td><b>Total</b></td>
                            <td></td>
                          </tr>
                          {% for delivery_detail in related_delivery_details %}
                          <tr>
                            <td>{{ delivery_detail.delivery_name }}</td>
                            <td>{{ delivery_detail.home_count }}</td>
                            <td>{{ delivery_detail.wage_per_home }}</td>
                            <td>{{ delivery_detail.sum_commission }}</td>
                            <td>{{ delivery_detail.real_bill_home_oa_count }}</td>
                            <td>{{ delivery_detail.real_bill_home_oa_amount }}</td>
                            <td>{{ delivery_detail.sum_commission_and_oa }}</td>
                            <td><a href="/home-input-quick/{{daily_report_id}}/{{delivery_detail.id}}" class="btn btn-success">แก้ไข</a></td>
                          </tr>
                          {% endfor %}
                        </table>
                      </div>
                    </div>
                    <div class="justify-content-center d-flex mt-5 mb-3">
                      <a href="/" class="btn btn-secondary btn-lg">ย้อนกลับ</a>
                      <a href="/home-input-quick/{{daily_report_id}}/0" class="btn btn-primary btn-lg">เพิ่มข้อมูลคนส่ง</a>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}