{% extends 'keywordapp/layout.html' %}
{% block activework %}active{% endblock activework %}
{% block content %}
<div class="login">
  <div class="container">
    <div class="pages-title">
      <h3>Home Detail ({{ date }})</h3>
    </div>
    <div class="row">
      <form method="post">
        {% csrf_token %}
        <h3 class="color-3 mb-3"><i class="fa fa-hospital-o"></i> General Information</h3>
        <h5 class="color-1"><i class="fa fa-hospital-o"></i> Delivery Information</h5>
        <div class="row">
          <div class="col s6">
            <div class="mt-3">Delivery Name</div>
            <input type="text" value="{{ delivery_detail.delivery_name }}" name="delivery_name" class="">
          </div>
          <div class="col s6">
            <div class="mt-3">Commission/Home</div>
            <input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)" placeholder="0.00"
              inputmode="numeric" type="text" value="{{ delivery_detail.wage_per_home }}" name="wage_per_home"
              class="form-control">
          </div>
        </div>
        <h5 class="color-4 mb-3"><i class="fa fa-hospital-o"></i> Machine Information</h5>
        <div class="row">
          <div class="col s6">
            <div class="mt-3">EDC Home</div>
            <input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)" placeholder="0.00"
              inputmode="numeric" type="text" value="{{ delivery_detail.edc_home_credit }}" name="edc_home_credit"
              class="form-control">
          </div>
          <div class="col s6">
            <div class="mt-3">EDC MOTO</div>
            <input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)" placeholder="0.00"
              inputmode="numeric" type="text" value="{{ delivery_detail.moto_credit }}" name="moto_credit"
              class="form-control">
          </div>
        </div>

        <h3 class="color-3 mb-3"><i class="fa fa-hospital-o"></i> Bill Information</h3>
        <h5 class="color-1"><i class="fa fa-hospital-o"></i> Home Phone</h5>
        <div class="row">
          <div class="col s3">
            <div class="mt-3">Cash Count</div>
            <input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)" placeholder="0" inputmode="numeric"
              type="text" value="{{ delivery_detail.bill_home_phone_cash_count }}" name="bill_home_phone_cash_count"
              class="form-control">
          </div>
          <div class="col s3">
            <div class="mt-3">Cash</div>
            <input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)" placeholder="0.00"
              inputmode="numeric" type="text" value="{{ delivery_detail.bill_home_phone_cash }}"
              name="bill_home_phone_cash" class="form-control">
          </div>
          <div class="col s3">
            <div class="mt-3">Card Count</div>
            <input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)" placeholder="0" inputmode="numeric"
              type="text" value="{{ delivery_detail.bill_home_phone_card_count }}" name="bill_home_phone_card_count"
              class="form-control">
          </div>
          <div class="col s3">
            <div class="mt-3">Card</div>
            <input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)" placeholder="0.00"
              inputmode="numeric" type="text" value="{{ delivery_detail.bill_home_phone_card }}"
              name="bill_home_phone_card" class="form-control">
          </div>
        </div>
        <h5 class="color-2"><i class="fa fa-hospital-o"></i> Home Online</h5>
        <div class="row">
          <div class="col s3">
            <div class="mt-3">Cash Count</div>
            <input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)" placeholder="0" inputmode="numeric"
              type="text" value="{{ delivery_detail.bill_home_online_cash_count }}" name="bill_home_online_cash_count"
              class="form-control">
          </div>
          <div class="col s3">
            <div class="mt-3">Cash</div>
            <input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)" placeholder="0.00"
              inputmode="numeric" type="text" value="{{ delivery_detail.bill_home_online_cash }}"
              name="bill_home_online_cash" class="form-control">
          </div>
          <div class="col s3">
            <div class="mt-3">Card Count</div>
            <input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)" placeholder="0" inputmode="numeric"
              type="text" value="{{ delivery_detail.bill_home_online_card_count }}" name="bill_home_online_card_count"
              class="form-control">
          </div>
          <div class="col s3">
            <div class="mt-3">Card</div>
            <input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)" placeholder="0.00"
              inputmode="numeric" type="text" value="{{ delivery_detail.bill_home_online_card }}"
              name="bill_home_online_card" class="form-control">
          </div>
        </div>
        <h5 class="color-3"><i class="fa fa-hospital-o"></i> Over Area (OA)</h5>
        <div class="row">
          <div class="col s6">
            <div class="mt-3">OA Count</div>
            <input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)" placeholder="0" inputmode="numeric"
              type="text" value="{{ delivery_detail.bill_home_oa_count }}" name="bill_home_oa_count" class="form-control"></div>
          <div class="col s6">
            <div class="mt-3">OA Amount</div>
            <input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)" placeholder="0.00"
              inputmode="numeric" type="text" value="{{ delivery_detail.bill_home_oa_amount }}" name="bill_home_oa_amount"
              class="form-control"></div>
        </div>
        <a href="/home-list/{{daily_report_id}}/" class="button instagram link-button">Back</a>
        <button class="button facebook" type="submit">Next</button>
      </form>
    </div>
  </div>
</div>



{% endblock content %}