{% extends 'keywordapp/layout.html' %}
{% block activework %}active{% endblock activework %}
{% block content %}

<div class="checkout app-pages app-section">
  <div class="container">
    <div class="pages-title">
      <h3>Home Detail ({{ date }})</h3>
    </div>
    <div class="order">
      {% for delivery_detail in related_delivery_details %}
      <div class="row">
        <div class="col s2 text-right">
          <h5>Name</h5>
        </div>
        <div class="col s2 text-right">
          <h5>Count</h5>
        </div>
        <div class="col s2 text-right">
          <h5>Total</h5>
        </div>
        <div class="col s2 text-right">
          <h5>Edit</h5>
        </div>
        <div class="col s2 text-right">
          <h5>Delete</h5>
        </div>
      </div>
      <div class="row">
        <div class="col s2 text-right">
          <h6>{{delivery_detail.delivery_name}}</h6>
        </div>
        <div class="col s2 text-right">
          <h6>{{delivery_detail.home_count}}</h6>
        </div>
        <div class="col s2 text-right">
          <h6>{{delivery_detail.sum_commission_and_oa}}</h6>
        </div>
        <div class="col s2 text-right">
          <h6><a href="/home-input-quick/{{daily_report_id}}/{{delivery_detail.id}}" class="button twitter">Edit</a>
          </h6>
        </div>
        <div class="col s2 text-right">
          <h6><a class="button google" href="{% url 'delete-delivery-detail' delivery_detail.id daily_report_id %}"
              onclick="return confirm('Are you sure you want to delete?')">Delete</a></h6>
        </div>
      </div>
      {% endfor %}
    </div>
    <a href="/home-input-quick/{{daily_report_id}}/0" class="button link-button">Add Delivery Man</a>
  </div>
</div>
<div class="checkout">
  <div class="container">
    <div class="pages-title">
      <h3>Comepare Home Online</h3>
    </div>
    <div class="order">
      <h5 class="title">Home Online From System</h5>
      <div class="row">
        <div class="col s3 text-right">
          <h6>Cash Count</h6>
        </div>
        <div class="col s3 text-right">
          <h6>Cash</h6>
        </div>
        <div class="col s3 text-right">
          <h6>Card Count</h6>
        </div>
        <div class="col s3 text-right">
          <h6>Card</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s3 text-right">
          <h6>{{bill_dinner.delivery_cash_count_in_online_system}}</h6>
        </div>
        <div class="col s3 text-right">
          <h6>{{bill_dinner.delivery_cash_amount_in_online_system}}</h6>
        </div>
        <div class="col s3 text-right">
          <h6>{{bill_dinner.delivery_card_count_in_online_system}}</h6>
        </div>
        <div class="col s3 text-right">
          <h6>{{bill_dinner.delivery_card_amount_in_online_system}}</h6>
        </div>
      </div>
      <h5 class="title">Home Online From Summarize Data</h5>
      <div class="row">
        <div class="col s3 text-right">
          <h6>Cash Count</h6>
        </div>
        <div class="col s3 text-right">
          <h6>Cash</h6>
        </div>
        <div class="col s3 text-right">
          <h6>Card Count</h6>
        </div>
        <div class="col s3 text-right">
          <h6>Card</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s3 text-right">
          <h6>{{sumOnlineCashCount}}</h6>
        </div>
        <div class="col s3 text-right">
          <h6>{{sumOnlineCash}}</h6>
        </div>
        <div class="col s3 text-right">
          <h6>{{sumOnlineCardCount}}</h6>
        </div>
        <div class="col s3 text-right">
          <h6>{{sumOnlineCard}}</h6>
        </div>
      </div>
    </div>

    <a href="/" class="button instagram link-button mb-5">Back</a>
  </div>
</div>
{% endblock content %}