{%extends 'keywordapp/layout.html'%}

{%block activehouse%}active{%endblock activehouse%}
{%block content%}
<div class="page-content-wrapper">
  <!-- Weekly Best Sellers-->
  <div class="weekly-best-seller-area py-3">
    <div class="container">
      <div class="section-heading">
        <h2>หาบ้าน</h2>
        <!-- Discount Coupon Card-->
        <div class="container">
          <div class="card discount-coupon-card border-0">
            <div class="card-body">
              <div class="coupon-text-wrap d-flex align-items-center">
                <h1 class="text-white">ย้ายไปเว็บไซต์ใหม่ <a href="https://aussiethai.net">https://aussiethai.net</a>
                  ตั้งแต่วันที่ 14 พฤษภาคม 2566 เป็นต้นไป </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-3">

        {%for item1,item2,item3,item4 in dataForLoop%}
        <div class="col-12">
          <div class="card weekly-product-card">
            <div class="card-body align-items-center">
              <div class="product-description" style="width:100%;max-width: 100%;">
                <div class="product-title d-block">{{item1}}</div>
                <p class="sale-price"><i class="lni lni-calendar"></i>{{item2}}</p>
                <div class="product-rating"><i class="lni lni-text-align-center"></i>{{item3}}</div>
                <div class="justify-content-center d-flex">
                  <a class="btn btn-success btn-lg" target="_blank" href="{{item4}}">รายละเอียด</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{%endblock content%}