<!DOCTYPE html>
<html lang="en">
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Kids - Multipurpose Mobile Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1  maximum-scale=1 user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    
    <link rel="shortcut icon" href="img/favicon.png">
    
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/slick.css">
    <link rel="stylesheet" href="/static/css/slick-theme.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/owl.theme.css">
    <link rel="stylesheet" href="/static/css/owl.transitions.css">
    <link rel="stylesheet" href="/static/css/lightbox.min.css">
    <link rel="stylesheet" href="/static/css/style.css">	
  </head>
<body>
  <div class="spinner-grow text-secondary" role="status">
    <div class="sr-only">Loading...</div>
  </div>
  </div>
  <!-- Header Area-->
  <div class="header-area" id="headerArea">
    <div class="container h-100 d-flex align-items-center justify-content-between">
      <!-- Logo Wrapper-->
      <div class="logo-wrapper"><a href="/"><img src="/static/img/core-img/logo-small.png" alt=""></a></div>
    </div>
  </div>

  <main>{%block content%} {%endblock content%}</main>


  <!-- All JavaScript Files-->
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/waypoints.min.js"></script>
  <script src="/static/js/jquery.easing.min.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/jquery.counterup.min.js"></script>
  <script src="/static/js/jquery.countdown.min.js"></script>
  <script src="/static/js/default/jquery.passwordstrength.js"></script>
  <script src="/static/js/default/dark-mode-switch.js"></script>
  <script src="/static/js/default/no-internet.js"></script>
  <script src="/static/js/default/active.js"></script>
  <script src="/static/js/pwa.js"></script>
  <script>
    function clearInputValue(input) {
      if (parseFloat(input.value) === 0) {
        input.value = '';
      }
    }

    function restoreInputValue(input) {
      if (input.value.trim() === '') {
        input.value = '0';
      }
    }
    function restoreInputValueDecimal(input) {
      if (input.value.trim() === '') {
        input.value = '0.00';
      }
    }
  </script>
</body>

</html>