{% extends 'keywordapp/layout.html' %}
{% block activework %}active{% endblock activework %}
{% block content %}
<div class="page-content-wrapper">
  <!-- Weekly Best Sellers-->
  <div class="weekly-best-seller-area py-3">
    <div class="container">
      <div class="section-heading">
        <h2>กรอกข้อมูลปิดยอด Lunch ({{ date }})</h2>
      </div>
      <div class="row g-3">
        <div class="col-12">
          <div class="card weekly-product-card">
            <div class="card-body align-items-center">
              <div class="product-description" style="width: 100%; max-width: 100%;">
                <form action="" method="post">
                  {% csrf_token %}
                  <div class="row">
                    <h1 class="mb-3">ข้อมูลบัตรเครดิตเบื้องต้น {{ resultCheckEqual }}</h1>
                    <div class="col-12">

                      <table class="table table-bordered">
                        <tr class="table-dark">
                          <td class="align-middle"><b>ตอนเที่ยง</b></td>
                          <td></td>
                        </tr>
                        <tr class="table-success">
                          <td class="align-middle"><b>ยอดที่ใช้เครื่อง EDC หน้าร้านคิดเงิน</b></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td class="align-middle">1. ยอด POS TA</td>
                          <td class="text-center align-middle"> {{bill_lunch.pos_ta_bill_phone_card}}</td>
                        </tr>
                        <tr>
                          <td class="align-middle">2. ยอด POS Dine-in</td>
                          <td class="text-center align-middle">{{bill_lunch.pos_in_bill_card}}</td>
                        </tr>
                        <tr>
                          <td class="align-middle">3. ยอด TA Online</td>
                          <td class="text-center align-middle">{{bill_lunch.bill_online_card}}</td>
                        </tr>
                        <tr>
                          <td class="align-middle">4. ยอด Tip</td>
                          <td class="text-center align-middle">{{bill_lunch.tip_credit}}</td>
                        </tr>
                        <tr>
                          <td class="align-middle" style="border-bottom: 1px solid black;"><b>Total - Credit ขาด
                              ({{addTipToSum}} - {{bill_lunch.wrong_credit}})</b></td>
                          <td class="text-center align-middle" style="border-bottom: 1px solid black;">
                            <b>{{minusWrongCreditFromSumBillCard}}</b>
                          </td>
                        </tr>
                        <tr class="table-info">
                          <td class="align-middle">ยอด EDC หน้าร้าน</td>
                          <td class="text-center align-middle">{{edcInCredit}}
                          </td>
                        </tr>
                      </table>


                      <div class="row">
                        <h1 class="mt-5">ข้อมูลแบบละเอียด</h1>
                        <div class="col-12">

                          <!-- <div class="row">
                            <div class="col-12 col-md-3 mt-5">
                              <h3>เช็คจากเครื่อง</h3>
                            </div>
                          </div> -->
                          <!-- <div class="row">
                            <div class="col-12 col-md-2 mt-5">
                              <b>POS TA Phone</b>
                            </div>
                            <div class="col-12 col-md-2">
                              Total Count
                              <input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)" placeholder="0"
                                inputmode="numeric" type="text" name="pos_ta_phone_total_bill_count"
                                value="{{ bill_lunch.pos_ta_phone_total_bill_count }}" class="form-control">
                            </div>
                            <div class="col-12 col-md-2">
                              Cash Count
                              <input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)" placeholder="0"
                                inputmode="numeric" type="number" value="{{ bill_lunch.pos_ta_bill_phone_cash_count }}"
                                name="pos_ta_bill_phone_cash_count" class="form-control">
                            </div>
                            <div class="col-12 col-md-2">
                              Cash<input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)"
                                placeholder="0.00" inputmode="numeric" type="text"
                                value="{{ bill_lunch.pos_ta_bill_phone_cash }}" name="pos_ta_bill_phone_cash"
                                class="form-control"></div>
                            <div class="col-12 col-md-2">
                              Card Count<input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)"
                                placeholder="0" inputmode="numeric" type="text"
                                value="{{ bill_lunch.pos_ta_bill_phone_card_count }}"
                                name="pos_ta_bill_phone_card_count" class="form-control"></div>
                            <div class="col-12 col-md-2">
                              Card
                              <input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)"
                                placeholder="0.00" inputmode="numeric" type="text" disabled
                                value="{{ bill_lunch.pos_ta_bill_phone_card }}" class="form-control">
                              <input type="hidden" value="{{ bill_lunch.pos_ta_bill_phone_card }}"
                                name="pos_ta_bill_phone_card">
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-12 col-md-2 mt-5">
                              <b>POS Dine-in</b>
                            </div>
                            <div class="col-12 col-md-2">
                              Total Count
                              <input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)" placeholder="0"
                                inputmode="numeric" type="text" name="pos_dine_in_total_bill_count"
                                value="{{ bill_lunch.pos_dine_in_total_bill_count }}" class="form-control">
                            </div>
                            <div class="col-12 col-md-2">
                              Cash Count<input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)"
                                placeholder="0" inputmode="numeric" type="number"
                                value="{{ bill_lunch.pos_in_bill_cash_count }}" name="pos_in_bill_cash_count"
                                class="form-control"></div>
                            <div class="col-12 col-md-2">
                              Cash<input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)"
                                placeholder="0.00" inputmode="numeric" type="text"
                                value="{{ bill_lunch.pos_in_bill_cash }}" name="pos_in_bill_cash" class="form-control">
                            </div>
                            <div class="col-12 col-md-2">
                              Card Count<input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)"
                                placeholder="0" inputmode="numeric" type="text"
                                value="{{ bill_lunch.pos_in_bill_card_count }}" name="pos_in_bill_card_count"
                                class="form-control"></div>
                            <div class="col-12 col-md-2">
                              Card
                              <input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)"
                                placeholder="0.00" inputmode="numeric" type="text" disabled
                                value="{{ bill_lunch.pos_in_bill_card }}" class="form-control">
                              <input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)"
                                placeholder="0.00" inputmode="numeric" type="hidden"
                                value="{{ bill_lunch.pos_in_bill_card }}" name="pos_in_bill_card">
                            </div>
                          </div> -->

                          <div class="row">
                            <div class="col-12 mt-5">
                              <h3>แก้ไขยอด Online</h3>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12 col-md-3 mt-5">
                              <b>TA Online</b>
                            </div>
                            <div class="col-12 col-md-2">
                              Cash Count
                              <input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)" placeholder="0"
                                inputmode="numeric" type="number" value="{{ bill_lunch.bill_online_cash_count }}"
                                name="bill_online_cash_count" class="form-control">
                            </div>
                            <div class="col-12 col-md-2">
                              Cash<input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)"
                                placeholder="0.00" inputmode="numeric" type="text"
                                value="{{ bill_lunch.bill_online_cash }}" name="bill_online_cash" class="form-control">
                            </div>
                            <div class="col-12 col-md-3">
                              Card Count<input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)"
                                placeholder="0" inputmode="numeric" type="text"
                                value="{{ bill_lunch.bill_online_card_count }}" name="bill_online_card_count"
                                class="form-control"></div>
                            <div class="col-12 col-md-2">
                              Card
                              <input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)"
                                placeholder="0.00" inputmode="numeric" type="text"
                                value="{{ bill_lunch.bill_online_card }}" class="form-control" name="bill_online_card">
                            </div>
                          </div>

                          <div class="justify-content-center d-flex mt-5">
                            <a href="/lunch-input-quick/{{daily_report_id}}/"
                              class="btn btn-secondary btn-lg">ย้อนกลับ</a>
                            <button class="btn btn-primary btn-lg" type="submit">ถัดไป</button>
                          </div>
                        </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}