{% extends 'keywordapp/layout.html' %}
{% block activework %}active{% endblock activework %}
{% block content %}
<div class="login app-pages app-section">
  <div class="container">
    <div class="row">
      <div class="pages-title">
        <h3>Close Credit Lunch<br>({{ date }})</h3>
      </div>

      <form method="post">
        {% csrf_token %}
        <h5 class="color-1"><i class="fa fa-hospital-o"></i> From Machine</h5>
        <div class="mt-3">EDC DIne-in</div>
        <input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)" placeholder="0.00" inputmode="numeric"
          type="text" value="{{ bill_lunch.edc_in_credit }}" name="edc_in_credit">

        <h5 class="color-2"><i class="fa fa-medkit"></i> From Bill</h5>
        <div class="row">
          <div class="col s6">
            <div class="mt-3">Tip EDC Dine-in</div>
            <input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)" placeholder="0.00"
              inputmode="numeric" type="text" value="{{ bill_lunch.tip_credit }}" name="tip_credit">
          </div>
          <div class="col s6">
            <div class="mt-3">Lack Credit</div>
            <input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)" placeholder="0.00"
              inputmode="numeric" type="text" value="{{ bill_lunch.wrong_credit }}" name="wrong_credit">
          </div>
        </div>
        <h3 class="color-3 mb-3"><i class="fa fa-hospital-o"></i> Other details</h3>
        <h5 class="color-1"><i class="fa fa-hospital-o"></i> TA Online</h5>
        <div class="row">
          <div class="col s3">
            <div class="mt-3">Cash Count</div>
            <input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)" placeholder="0" inputmode="numeric"
              type="number" value="{{ bill_lunch.bill_online_cash_count }}" name="bill_online_cash_count"
              class="form-control">
          </div>
          <div class="col s3">
            <div class="mt-3">Cash</div>
            <input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)" placeholder="0.00"
              inputmode="numeric" type="text" value="{{ bill_lunch.bill_online_cash }}" name="bill_online_cash"
              class="form-control">
          </div>
          <div class="col s3">
            <div class="mt-3">Card Count</div>
            <input onfocus="clearInputValue(this)" onblur="restoreInputValue(this)" placeholder="0" inputmode="numeric"
              type="text" value="{{ bill_lunch.bill_online_card_count }}" name="bill_online_card_count"
              class="form-control">
          </div>
          <div class="col s3">
            <div class="mt-3">Card</div>
            <input onfocus="clearInputValue(this)" onblur="restoreInputValueDecimal(this)" placeholder="0.00"
              inputmode="numeric" type="text" value="{{ bill_lunch.bill_online_card }}" class="form-control"
              name="bill_online_card">
          </div>
        </div>


        <a href="/" class="button instagram link-button">Back</a>
        <button class="button facebook" type="submit">Next</button>
      </form>
    </div>
  </div>
</div>
</div>


{% endblock content %}