{% load humanize %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<style>
  .table-container {
    white-space: nowrap;
    /* Prevent line breaks */
  }

  td,
  th {
    background-color: rgb(198, 198, 198);
  }

  .table-inline-block {
    display: inline-block;
  }

  .table {
    width: auto;
  }

  .red-text {
    color: #960439 !important;
  }

  .table>:not(caption)>*>* {
    border-bottom-width: 0px
  }

  .custom-table td {
    position: relative;
    padding: 10px;
  }

  .red-underline {
    border-bottom: 2px solid #960439;
    border-bottom-width: 2px !important;
  }

  .red-border-full {
    border: 2px solid #960439;
    border-bottom-width: 2px !important;
  }

  td.red-underline-td::after {
    content: "";
    position: absolute;
    top: 0;
    left: 40%;
    transform: translateX(-50%);
    width: 70%;
    height: 100%;
    border-bottom: 2px solid #960439;
    /* Adjust the border properties as needed */
    z-index: 1;
  }
</style>
<div class="page-content-wrapper">
  <!-- Weekly Best Sellers-->
  <div class="weekly-best-seller-area py-3">
    <div class="">
      <div class="row">
        <div class="col-12">
          <div class="card weekly-product-card">
            <div class="card-body align-items-center">
              <div class="product-description" style="width:100%;max-width: 100%;">
                <div class="coupon-text-wrap d-flex align-items-center table-responsive">
                  <div class="table-container">
                    <table class="table custom-table table-inline-block">
                      <tr>
                        <th width="60px" class="red-text">จำนวน</th>
                        <th width="160px" class="red-text">ประเภท</th>
                        <th width="140px" class="red-text">TOTAL</th>
                        <th width="120px" class="red-text">CASH</th>
                        <th width="140px" class="red-text">CREDIT</th>
                        <th></th>
                      </tr>
                      <tr>
                        <td class="text-center">{{sumrealBillOnlineCount}}</td>
                        <td class="red-text">T/A Online Lunch</td>
                        <td class="red-underline-td">{{sumrealBillOnline|intcomma}}</td>
                        <td class="red-underline-td">{{realBillOnlineCashLunch|intcomma}}</td>
                        <td class="red-underline-td">{{realBillOnlineCardLunch|intcomma}}</td>
                        <td rowspan="3" class="align-middle text-center red-border-full">
                          <h3>{{totalBillLunch|intcomma}}</h3>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">{{sumrealBillPhoneCount}}</td>
                        <td class="red-text">T/A Lunch</td>
                        <td class="red-underline-td">{{sumrealBillPhone|intcomma}}</td>
                        <td class="red-underline-td">{{realBillPhoneCashLunch|intcomma}}</td>
                        <td class="red-underline-td">{{realBillPhoneCardLunch|intcomma}}</td>
                      </tr>
                      <tr>
                        <td class="text-center">{{posDineInTotalBillCountLunch}}</td>
                        <td class="red-text">EAT-IN Lunch</td>
                        <td class="red-underline-td">{{sumrealBillIn|intcomma}}</td>
                        <td class="red-underline-td">{{realBillInCashLunch|intcomma}}</td>
                        <td class="red-underline-td">{{realBillInCardLunch|intcomma}}</td>
                      </tr>
                      <tr>
                        <td class="text-center">{{sumrealBillHomePhoneCountDinner}}</td>
                        <td class="red-text">Home Phone</td>
                        <td class="red-underline-td">{{sumrealBillHomePhoneDinner|intcomma}}</td>
                        <td class="red-underline-td">{{realBillHomePhoneCashDinner|intcomma}}</td>
                        <td class="red-underline-td">{{realBillHomePhoneCardDinner|intcomma}}</td>
                        <td rowspan="6" class="align-middle text-center red-border-full">
                          <h3>{{totalBillDinner}}</h3>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">{{sumrealBillHomeOnlineCountDinner}}</td>
                        <td class="red-text">Home Online</td>
                        <td class="red-underline-td">{{sumrealBillHomeOnlineDinner|intcomma}}</td>
                        <td class="red-underline-td">{{realBillHomeOnlineCashDinner|intcomma}}</td>
                        <td class="red-underline-td">{{realBillHomeOnlineCardDinner|intcomma}}</td>
                      </tr>
                      <tr>
                        <td class="text-center">{{sumrealBillPhoneCountDinner}}</td>
                        <td class="red-text">T/A Phone Dinner</td>
                        <td class="red-underline-td">{{sumrealBillPhoneDinner|intcomma}}</td>
                        <td class="red-underline-td">{{realBillPhoneCashDinner|intcomma}}</td>
                        <td class="red-underline-td">{{realBillPhoneCardDinner|intcomma}}</td>
                      </tr>
                      <tr>
                        <td class="text-center">{{sumrealBillOnlineCountDinner}}</td>
                        <td class="red-text">T/A Online Dinner</td>
                        <td class="red-underline-td">{{sumrealBillOnlineDinner|intcomma}}</td>
                        <td class="red-underline-td">{{realBillOnlineCashDinner|intcomma}}</td>
                        <td class="red-underline-td">{{realBillOnlineCardDinner|intcomma}}</td>
                      </tr>
                      <tr>
                        <td class="text-center">{{posDineInTotalBillCountDinner}}</td>
                        <td class="red-text">Dinner</td>
                        <td class="red-underline-td">{{sumrealBillInDinner|intcomma}}</td>
                        <td class="red-underline-td">{{realBillInCashDinner|intcomma}}</td>
                        <td class="red-underline-td">{{realBillInCardDinner|intcomma}}</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td class="red-text">Total</td>
                        <td class="table-success red-underline">{{sumTotal|intcomma}}</td>
                        <td class="red-underline-td">{{sumCash|intcomma}}</td>
                        <td class="red-underline-td">{{sumCard|intcomma}}</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="2" class="table-danger">{{sumTipShow | safe}}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="2" class="table-danger">{{sumWrongCreditShow | safe}}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><b class="red-text">HOME DELIVERY</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>

                      <tr>
                        <td class="red-text">H1</td>
                        <td>
                          <div class="d-flex justify-content-between">
                            <div class="red-underline w-100">{{home_counts_1}} {{show_oa_counts_1}}</div>
                            <div class="red-text">unit</div>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex justify-content-between">
                            <div class="red-underline w-100"><span class="red-text">$</span> <span
                                class="red-underline w-100">{{sum_commissions_1}}{{show_oa_amounts_1}}</span></div>
                            <div></div>
                          </div>
                        </td>
                        <td>{{delivery_names_1}}</td>
                        <td><b class="red-text" style="font-size:16px;">TOTAL ONLINE</b></td>
                        <td class="table-success">({{totalOnlineCount}}) {{totalOnlineAmount|intcomma}}</td>
                      </tr>
                      <tr>
                        <td class="red-text">H2</td>
                        <td>
                          <div class="d-flex justify-content-between">
                            <div class="red-underline w-100">{{home_counts_2}} {{show_oa_counts_2}}</div>
                            <div class="red-text">unit</div>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex justify-content-between">
                            <div class="red-underline w-100"><span class="red-text">$</span>
                              {{sum_commissions_2}}{{show_oa_amounts_2}}</div>
                            <div></div>
                          </div>
                        </td>
                        <td>{{delivery_names_2}}</td>
                        <td class="red-text">HANG</td>
                        <td class="red-text">SOUP</td>
                      </tr>
                      <tr>
                        <td class="red-text">H3</td>
                        <td>
                          <div class="d-flex justify-content-between">
                            <div class="red-underline w-100">{{home_counts_3}} {{show_oa_counts_3}}</div>
                            <div class="red-text">unit</div>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex justify-content-between">
                            <div class="red-underline w-100"><span class="red-text">$</span>
                              {{sum_commissions_3}}{{show_oa_amounts_3}}</div>
                            <div></div>
                          </div>
                        </td>
                        <td>{{delivery_names_3}}</td>
                        <td></td>
                        <td class="red-text">KAO SOI</td>
                      </tr>
                      <tr>
                        <td class="red-text">Total</td>
                        <td class="table-danger">{{sumrealBillHomeCountDinner}}</td>
                        <td class="table-danger">{{totalSumCommissionAndOa}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table>
                    <table class="table custom-table table-inline-block mx-4">
                      <tr>
                        <td colspan="3"><b class="red-text">DAIRY RECORD</b></td>
                      </tr>
                      <tr>
                        <td width="20"></td>
                        <td width="200"></td>
                        <td width="40"></td>
                      </tr>
                      <tr>
                        <td class="red-text">DAY</td>
                        <td colspan="2" class="red-underline-td">{{day}}</td>
                      </tr>
                      <tr>
                        <td class="red-text">DATE</td>
                        <td colspan="2" class="red-underline-td">{{date}}</td>
                      </tr>
                      <tr>
                        <td class="red-text">NAME</td>
                        <td colspan="2" class="red-underline-td"></td>
                      </tr>
                      <tr>
                        <td colspan="3"></td>
                      </tr>
                      <tr>
                        <td colspan="3" class="red-text">
                          <h3 class="text-center align-middle" style="margin:0;">CRONULLA</h3>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3"></td>
                      </tr>
                      <tr>
                        <td colspan="3" class="px-4"><b class="red-text">รายการเบิก</b></td>
                      </tr>
                      <tr>
                        <td colspan="2" class="red-underline">{{disburse_name_1}}</td>
                        <td class="red-underline-td">{{disburse_prices_1}}</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="red-underline">{{disburse_name_2}}</td>
                        <td class="red-underline-td">{{disburse_prices_2}}</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="red-underline">{{disburse_name_3}}</td>
                        <td class="red-underline-td">{{disburse_prices_3}}</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="red-underline">{{disburse_name_4}}</td>
                        <td class="red-underline-td">{{disburse_prices_4}}</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="red-underline">{{disburse_name_5}}</td>
                        <td class="red-underline-td">{{disburse_prices_5}}</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="red-underline">{{disburse_name_6}}</td>
                        <td class="red-underline-td">{{disburse_prices_6}}</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="red-underline">{{disburse_name_7}}</td>
                        <td class="red-underline-td">{{disburse_prices_7}}</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="red-underline">{{disburse_name_8}}</td>
                        <td class="red-underline-td">{{disburse_prices_8}}</td>
                      </tr>
                      <tr class="table-danger">
                        <th colspan="2" class="red-text">TOTAL $ </th>
                        <td>{{totalSumDisburse|intcomma}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="card-body">
                  <div class="coupon-text-wrap d-flex align-items-center">
                    <table class="table">
                      <tr>
                        <td>
                          <h2 class="red-text">Balance $</h2>
                        </td>
                        <td class="table-success">
                          <h2>&nbsp;&nbsp;&nbsp; {{balanceAfterMinusExpense}}</h2>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>